.botones{
    display: flex;
    justify-content: center;

    margin: 15px 0px 15px 0px;
    text-decoration: none;
}

.botones button{
    padding: 10px 20px;
    width: 200px;
    margin: 10px;
    color: #5b3013;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    
    font-family: "Poppins", sans-serif;
    font-weight: 500;  /*100-900*/
    font-style: normal; /*italic*/
    box-sizing: border-box;
    font-size: 16px;
}

.botones button a{
    text-decoration: none;
}


.botones button:hover{
    background-color: rgb(252, 246, 232);
    color: #A67D03;
}

.botones button:active{
    background-color: #A67D03;
}

.displayCards{
    border: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 70%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 30%;
    border-color: #5b3013;
    border-width: thin;
    border-style: solid;
}

.card :hover{
    cursor: pointer;
    box-shadow: 5px 5px 20px rgba(0,0,0,0,4);
}

.card img{
    width: 200px;
    height: auto;
}

.card h3{
    height: 70%;
}

.cardDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 10px;
    padding: 10px;
    width: 40%;
    height: 450px;
    border-color: #5b3013;
    border-width: thin;
    border-style: solid;
}

.cardDetail :hover{
    cursor: pointer;
    box-shadow: 5px 5px 20px rgba(0,0,0,0,4);
}

.cardDetail img{
    width: 200px;
    height: auto;
}

.cardDetail h3{
    height: 8%;
}

.displayCardDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
}